# Node modules
node_modules/

# Environment files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Python
__pycache__/
*.pyc

# VS Code settings
.vscode/

# OneDrive temp
*.tmp

server/node_modules/
frontend/node_modules/
server/ .env